<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config/>

    <context:property-placeholder location="classpath:ch14/application.properties"/>

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
                <bean class="com.somallg.spring.core.ch14.converter.ContactConverter"/>
        </property>

    </bean>

    <bean id="simpleContact" class="com.somallg.spring.core.ch14.domain.SimpleContact">
        <property name="contact" value="${contact.value}"/>
    </bean>
</beans>